h1{
    color: red;
    background-color: black;
    width: 700px;
    height: 250px;
    font-size: 200px;
}

h2{
    text-align: center;
    text-transform: uppercase;
    text-shadow: 5px 5px 5px red;
    font-weight: normal;
}

h3{
    text-align: right;
}

.texto-azul{
    color: blue;
    font-weight: bold;
}


